---

---
@charset "UTF-8";

body {
  font-family: 'Gentium Basic', sans-serif;
  margin: 0 0 0 0;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #227ce8;
}

.sidebar {
  position: fixed;
  left: 25px;
  top: 15px;
  width: 100px;
  font-family: 'Roboto', sans-serif;
  a {
    text-decoration: none;
  }
  .name {
    text-transform: uppercase;
    margin: 10px 0px 0px 1px;
    #fname {
      font-size: 28px;
      font-weight: bold;
      color: black;
    }
    #lname {
      font-size: 36px;
      color: black;
    }
  }
  .links {
    margin: 10px 0 0 0;
    a {
      padding: 0px 0;
      color: black;
      font-weight: bold;
      font-size: 12px;
      display: block;
      &:hover {
        color: #227ce8;
      }
    }
    ul {
      margin: 0 0 0 0;
      padding: 0;
    }
    li {
      list-style: none;
      margin: 0 0 5px 5px;
    }
  }
}

.main {
  max-width: 600px;
  margin-left: 154px;
  margin-bottom: 20px;
  h1, h2, h3 {
    a {
      color: #111;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  h1 {
    font-family: 'Gentium Basic', serif;
    font-size: 36px;
    margin: 18px 0 -8px 0;
  }
  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    margin-bottom: 5px;
  }
  h3 {
    font-family: 'Roboto', sans-serif;
    color: #777;
    font-size: 15px;
    padding-bottom: 2px;
    margin-bottom: 2px;
  }
  p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 1.2em;
    line-height: 1.4;
    code {
      font-size: 12px;
      background-color: #eeeeee;
      border: 1px solid #777777;
      border-radius: 3px;
      padding: 2px 3px;
    }
  }
  
  //mostly for post dates
  .byline {
    span {
      float: right;
    }
    border-top: 1px solid #eee;
    font-family: 'Gentium Basic', serif;
    font-size: 17px;
    color: #777;
  }

  //the real writing goes here
  .entry {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
  }

  //for the index
  .listing {
    margin: 20px 0 0 0;
    padding: 0;
    font-family: 'Gentium Basic', serif;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      font-size: 13px;
      list-style: none;
      padding: 5px 3px;
      margin: 0;
      color: #777777;
      border-bottom: 1px solid #eee;
      span {
        float: right;
      }
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

  }

  //for bottom text
  .bot {
    font-family: 'Gentium Basic', serif;
    p {
      margin: 0 0 4px 0;
      line-height: 1.2;
      font-size: 13px;
    }
  }

}
