---
# Stylesheet for tarvos.github.io
---
@charset "UTF-8";

body {
  font-family: 'Spectral', sans-serif;
  color: #002b36;  //base03
  a {
    color: #586e75 //base01
  }
  margin: 0 0 0 0;
  -webkit-font-smoothing: antialiased;
}
  
a {
  text-decoration: inherit;
  color: inherit;
  &:hover {
    color: #cb4b16;  //orange
  }
}

.sidebar {
  position: fixed;
  left: 25px;
  top: 15px;
  width: 95px;
  font-family: 'Oxygen Mono', 'Andale Mono', monospace;
  color: white;
  .avatar {
    margin: 0px 0 12px 0;
    img {
      width: 100%;
      height: auto;
    }
  }
  .name {
    padding: 5px 0 0 0;
    text-transform: uppercase;
    background-color: #002b36;  //base03
    a {
      color: inherit;
      &:hover {
        color: inherit;
      }
    }
    #fname {
      margin: 0 0 0 1px;
      font-size: 29px;
      font-weight: bold;
    }
    #lname {
      margin: 0 0 0 1px;
      font-size: 38px;
    }
  }
  .links {
    margin: 14px 0 0 0;
    font-family: 'Averia Sans Libre', sans-serif;
    font-size: 14px;
    background-color: #002b36;  //base03
    a {
      color: inherit;
      &:hover {
        color: #cb4b16;  //orange
      }
    }
    ul {
      margin: 0 0 0 0;
      padding: 0 0 0 0;
    }
    li {
      color: white;
      list-style: none;
      margin: 0 0 5px 5px;
      padding: 0 0 0 0;
    }
  }
}

.main {
  max-width: 700px;
  margin-left: 154px;
  margin-bottom: 20px;
  font-size: 15px;
  h1 {
    font-family: 'Oxygen Mono', 'Andale Mono', monospace;
    font-size: 36px;
    margin: 18px 0 -8px 0;
  }
  h2 {
    font-family: 'Averia Sans Libre', sans-serif;
    font-size: 24px;
    margin-bottom: 4px;
  }
  h3 {
    font-family: 'Averia Sans Libre', sans-serif;
    font-size: 16px;
    margin-bottom: 4px;
  }
  p {
    margin-top: 0;
    margin-bottom: .8em;
    line-height: 1.4;
  }
  
  //mostly for post dates
  .byline {
    span {
      float: right;
    }
    border-top: 1px solid #002b36;  //base03
    font-size: 17px;
    color: #586e75;  //base01
  }

  //the real writing goes here
  .entry {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #002b36;  //base03
  }

  //for the index
  .listing {
    a { 
      color: #cb4b16;  //orange
      &:hover {
        text-decoration: underline;
      }
    }
    margin: 24px 0 30px 0;
    padding: 0;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      list-style: none;
      padding: 5px 3px 0 3px;
      margin: 0;
      color: #586e75;  //base01
      border-bottom: 1px solid #002b36;  //base03
      span {
        float: right;
      }
    }
  }

  //for bottom text
  .bot {
    p {
      font-size: 14px;
    }
  }

}
