<section class="sidebar">
  
  <a href="/" aria-label="Avatar"><img src="{{ site.baseurl }}/images/apple-touch-icon.png" alt="A photo of me" height="95" width="95" class="avatar"/></a>

	<section class="name">
		<a href="/">
			<span id="fname">Jarku</span>
		  <span id="lname">Tang</span>
	  </a>
  </section>
  
  <section class="sections">
    <ul>
      <li><a href="/about.html">about me</a></li>
      <li><a href="/">post index</a></li>
      <li><a href="{{ site.github.owner_url }}" target="_blank" /><i class="fa fa-github"></i> github</a></li>
      <li><a href="https://instagram.com/{{ site.instagram }}" target="_blank" /><i class="fa fa-instagram"></i> instagram</a></li>
      <li><a href="/atom.xml" /><i class="fa fa-rss"></i> atom rss?</a></li>
    </ul>
  </section>
  
</section>
