---
layout: layout
---

<section class="content">
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}

  <section class="meta">
    <h3>Bottom text</h3>
    <section class="copy">
        <img src="{{ site.github.owner_gravatar_url }}?s=142" height="50" width="50" />
        Thanks for reading!  If you'd like to say something, feel free to shoot me a message on <a href = https://instagram.com/logicku>Instagram</a>, Grindr, or [my first name] [at] [my university] [dot] edu.
    </section>
  </section>
</section>